@font-face {
  font-family: circular;
  src: url(./assets/fonts/circular/circular-thin.woff2) format('woff2'),
    url(./assets/fonts/circular/circular-thin.woff) format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: circular;
  src: url(./assets/fonts/circular/circular-regular.woff2) format('woff2'),
    url(./assets/fonts/circular/circular-regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: circular;
  src: url(./assets/fonts/circular/circular-medium.woff2) format('woff2'),
    url(./assets/fonts/circular/circular-medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: circular;
  src: url(./assets/fonts/circular/circular-bold.woff2) format('woff2'),
    url(./assets/fonts/circular/circular-bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: circular, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: circular, sans-serif;
  color: white;
  font-size: 16px;
  background-color: #191919;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}
button:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 32px;
  line-height: 46px;
}

h2 {
  font-size: 26px;
  line-height: 38px;
}

h3 {
  font-size: 22px;
  line-height: 34px;
}

.fade-wait-appear {
  opacity: 0;
}
.fade-wait-appear.fade-wait-appear-active {
  opacity: 1;
  transition: opacity 0.4s ease-in;
}

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity 0.4s ease-in 0.6s;
}
/*
.fade-wait-height {
  transition: height 0.6s ease-in-out;
}
*/
