@font-face {
  font-family: circular;
  src: url(./assets/fonts/circular/circular-thin.woff2) format('woff2'),
    url(./assets/fonts/circular/circular-thin.woff) format('woff');
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: circular;
  src: url(./assets/fonts/circular/circular-regular.woff2) format('woff2'),
    url(./assets/fonts/circular/circular-regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: circular;
  src: url(./assets/fonts/circular/circular-medium.woff2) format('woff2'),
    url(./assets/fonts/circular/circular-medium.woff) format('woff');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: circular;
  src: url(./assets/fonts/circular/circular-bold.woff2) format('woff2'),
    url(./assets/fonts/circular/circular-bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: circular, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: circular, sans-serif;
  color: white;
  font-size: 16px;
  background-color: #191919;
}
